b {
  color: #e91941;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3em;
}

body {
  padding: 0px;
  font-family: "Rubik", sans-serif;
  background-color: #212529;
  background-image: url("/bg.png");
}

#searchResults {
  background-image: url("/bg.png");
  border-bottom: 4px;
  border-bottom-color: #fff;
  border-style: solid;
}

#movieTitle {
  font-weight: 900;
}

#poster {
  width: 200px;
  float: right;
  border: 0.5em;
  border-style: solid;
  border-color: #212529;
  -webkit-box-shadow: 10px 10px 0px 4px #e91941;
  box-shadow: 10px 10px 0px 4px #e91941;
  margin: 0em 0em 1em 1em;
}

#footer-image {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 200px;
}

.navbar {
  height: 890x;
  border-bottom: 4px;
  border-bottom-color: #fff;
  border-style: solid;
}

.movie-details {
  font-size: 1.5em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 0.5em;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #343a40;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.dog-safe {
  color: green;
}

.dog-unsafe {
  color: darkred;
}

.dog-unknown {
  color: blue;
}

.carousel {
  border-bottom: 4px;
  border-bottom-color: #fff;
  border-bottom-style: solid;
}

.carousel-inner > .carousel-item > img {
  width: 10px;
  height: 500px;
}

.bgimg {
  background-image: url("/w3images/forestbridge.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

body,
html {
  height: 70%;
  margin: 0;
}

.coming-soon-btn {
  color: black;
  size: 20px;
}

.container-form {
  padding-top: 100px;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: space-around;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: space-around;
}

/* Mobile responsive layout changes. */
@media only screen and (max-width: 1000px) {
  .navbar {
    height: auto;
  }
  #logo {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  ul {
    padding-left: 0;
    padding-bottom: 1em;
    margin: auto;
  }
  #logo {
    width: 100%;
  }
  .navbar {
    height: auto;
  }
  .input-search {
    width: 700px;
  }
  .btn-search:focus ~ .input-search {
    transition: none;
    width: 100%;
    background: #343a40;
  }
  .carousel-inner > .carousel-item > img {
    height: 300px;
    margin-top: 250px;
  }
  .navbar {
    height: auto;
  }
  .input-search {
    width: 700px;
  }
  .btn-search:focus ~ .input-search {
    transition: none;
    width: 100%;
    background: #343a40;
  }
  .carousel-inner > .carousel-item > img {
    height: 300px;
    margin-top: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .input-search {
    width: 300px;
  }
  .carousel-inner > .carousel-item > img {
    height: 200px;
    margin-top: 240px;
  }
}
