body {
  padding: 0px;
}

/* .jumbotron {
  background-image: url("image1new.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 300px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image1new.png");

} */

#hero-image {
  background-image: url("dog1.jpg");
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: translate3d(0px, 0px, 0px);
  height: 500px;
}

button {
  background-color: 90b2a9;
}
